* {
    margin: 0;
    padding: 0;

}

.header {
    background-color: black;
    width: 100%;
    height: 3cm;
}

.header img {
    height: 2cm;
    margin: .5cm 0cm 1cm 3cm;
}

.header h1 {
    display: inline-block;
    translate: 5cm -1.8cm;
    color: white;
    padding-right: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: large;

}

.header .btn1 {
    height: 1.7cm;
    width: 4cm;
    border-radius: 40px;
    border-color: white;
    border-style: solid;
    color: white;
    background-color: transparent;
    translate: 5.6cm -1.8cm;

}

.header .btn2 {
    height: 1.7cm;
    width: 4.3cm;
    border-radius: 40px;
    border-color: red;
    border-style: solid;
    color: white;
    background-color: red;
    translate: 6cm -1.8cm;
    /* font-size: 18px; */

}

.picture {
    height: 14cm;
    width: 100%;
}


.picture img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.down {
    background-color: black;
    height: 17.3cm;
    width: 100%;
}


.text {
    position: absolute;
    translate: 9cm -16cm;
    text-align: center;

    border: 2px solid black;
    height: 6cm;
    width: 50%;
    color: white;
}

.text h1 span {
    font-weight: lighter;
    color: white;
}

.text h2 {
    font-weight: normal;
    font-size: medium;
}

.main {

    height: 5cm;
    width: 26cm;
    border: 2px solid black;
    translate: 5cm -12cm;
}

.image {
    display: inline-block;
    padding: 0.8cm 0 0 0;
    background-color: white;
    margin-left: 1cm;
    border-radius: 10px;
    height: 3cm;

}

.button {
    position: absolute;
    translate: 5cm -12cm;
    height: 3cm;
    width: 26cm;
    border: 2px solid black;

}

.btn {
    display: inline-block;

}

.btn button {
    width: 6cm;
    height: 1.5cm;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: medium;
    margin-left: 1.7cm;
    border: 2px solid white;
}


.next {
    position: absolute;
    top: 33cm;
    width: 100%;
    height: 35cm;
    background-color: #0f0f0f;
    color: white;
    text-align: center;

}

.salt {
    margin-top: 2cm;
}

.salt h1 {
    font-size: 1.5cm;
}

.photo {
    height: 7cm;
    width: 13cm;
    border: 2px solid black;
    float: right;
    margin-right: 3cm;
    margin-top: 2cm;
    background-image: url(img/build.webp);
    background-size: cover;
    /* Scale the image to cover the entire div */
    background-position: center;
}

.isl {

    height: 7cm;
    width: 12cm;
    margin-left: 3cm;
    margin-top: 2cm;
}

.isl h2 {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 8px;
    font-size: medium;
    margin-top: 10px;
    text-align: left;
}

.isl h1 {
    margin-top: 20px;
    font-weight: bolder;
    text-align: left;
}

.isl h1 span {
    font-weight: lighter;
    color: white;
}

.isl h3 {
    margin-top: 30px;
    text-align: left;
}

.isl h3 i {
    margin-right: 10px;

}

.isl h4 {
    margin-top: 10px;
    text-align: left;
    font-size: larger;
}

.isl h4 i {
    margin-right: 4px;
}

.isl button {
    height: 1.5cm;
    width: 5cm;
    border-radius: 50px;
    border: 2px solid white;
    background-color: #0f0f0f;
    color: white;
    font-size: large;
    margin-top: 1cm;
    float: left;

}



.photo1 {
    height: 7cm;
    width: 13cm;
    border: 2px solid black;
    float: right;
    margin: 1.5cm 2cm 0 0;
    background-image: url(img/build2.webp);
    background-size: cover;
    /* Scale the image to cover the entire div */
    background-position: center;
}


.fasla {

    height: 7cm;
    width: 13cm;
    float: right;
    margin-top: -7cm;
    margin-right: 3cm;
}

.fasla h2 {
    text-align: left;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 8px;
    font-size: medium;
}

.fasla h1 {
    margin-top: 20px;
    font-weight: bolder;
    text-align: left;
}

.fasla h1 span {
    font-weight: lighter;
    color: white;
}

/* wbr */
.fasla h3 {
    margin-top: 30px;
    text-align: left;
}

.fasla h3 i {
    margin-right: 10px;

}

.fasla h4 {
    margin-top: 10px;
    text-align: left;
    font-size: larger;
}

.fasla h4 i {
    margin-right: 4px;
}


.fasla button {
    height: 1.5cm;
    width: 5cm;
    border-radius: 50px;
    border: 2px solid white;
    background-color: #0f0f0f;
    color: white;
    font-size: large;
    margin-top: 1cm;
    float: left;

}


.bahawal {
    /* border: 2px solid white; */
    height: 7cm;
    width: 13cm;
    float: left;
    margin-top: 2cm;
    margin-left: 3.2cm;
}



.bahawal h2 {
    text-align: left;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 8px;
    font-size: medium;
}

.bahawal h1 {
    margin-top: 20px;
    font-weight: bolder;
    text-align: left;
}

.bahawal h1 span {
    font-weight: lighter;
    color: white;
}

/* wbr */
.bahawal h3 {
    margin-top: 30px;
    text-align: left;
}

.bahawal h3 i {
    margin-right: 10px;

}

.bahawal h4 {
    margin-top: 10px;
    text-align: left;
    font-size: larger;
}

.bahawal h4 i {
    margin-right: 4px;
}


.bahawal button {
    height: 1.5cm;
    width: 5cm;
    border-radius: 50px;
    border: 2px solid white;
    background-color: #0f0f0f;
    color: white;
    font-size: large;
    margin-top: 1cm;
    float: left;

}


.photo2 {
    height: 7cm;
    width: 13cm;
    border: 2px solid black;
    float: right;
    margin: 1.5cm 3cm 0 0;
    background-image: url(img/build3.webp);
    background-size: cover;
    /* Scale the image to cover the entire div */
    background-position: center;
}

/* next page 2 */

.next2 {
    position: absolute;
    height: 40cm;
    width: 100%;
    top: 68cm;
    background-color: black;


}

.salt2 {
    margin-top: 1cm;
}

.salt2 h1 {
    color: white;
    text-align: center;
    font-size: 1.7cm;

}

.salt2 h2 {
    color: white;
    text-align: center;
    font-size: 1cm;
}

/* picture 1 */

.pic1 {
    height: 12cm;
    width: 9cm;
    margin-left: 1.4cm;
    margin-top: 2cm;
}

.slider4 {
    border: 2px solid black;
    height: 7cm;
    width: 9cm;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-image: url(img/build4.webp);
    background-size: cover;
    /* Scale the image to cover the entire div */
    background-position: center;

}

.silder-text {
    height: 5cm;
    width: 8cm;
    margin-top: 8cm;
    margin-left: 15px;

}


.silder-text h2 {
    color: red;
    letter-spacing: 8px;
    text-align: center;
    font-size: medium;
}


.silder-text h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.silder-text h1 span {
    font-weight: normal;

}

.silder-text h3 {
    color: white;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}


.silder-text h3 i {
    padding-right: .7em;
}

.silder-text h4 {
    color: white;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}

.silder-text h4 i {
    padding-right: .7em;
}


.silder-text button {
    border: 1px solid wheat;
    margin-top: 20px;
    height: 1.5cm;
    width: 5cm;
    border-radius: 50px;
    margin-left: 1.4cm;
    background-color: black;
    color: white;
    font-size: medium;

}

.silder-text button i {
    transform: rotate(50deg);
    font-size: x-large;
}


/* picture 2 */

.pic2 {
    height: 12cm;
    width: 9cm;
    margin-left: 12.5cm;
    margin-top: -12.1cm;
}

.slider5 {
    border: 2px solid black;
    height: 7cm;
    width: 9cm;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-image: url(img/build5.webp);
    background-size: cover;
    /* Scale the image to cover the entire div */
    background-position: center;

}





.silder-text1 {
    height: 5cm;
    width: 8cm;
    margin-top: 8cm;
    margin-left: 15px;

}


.silder-text1 h2 {
    color: red;
    letter-spacing: 8px;
    text-align: center;
    font-size: medium;
}


.silder-text1 h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.silder-text1 h1 span {
    font-weight: normal;

}

.silder-text1 h3 {
    color: white;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}


.silder-text1 h3 i {
    padding-right: .7em;
}

.silder-text1 h4 {
    color: white;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}

.silder-text1 h4 i {
    padding-right: .7em;
}


.silder-text1 button {
    border: 1px solid wheat;
    margin-top: 20px;
    height: 1.5cm;
    width: 5cm;
    border-radius: 50px;
    margin-left: 1.6cm;
    background-color: black;
    color: white;
    font-size: medium;

}

.silder-text1 button i {
    transform: rotate(50deg);
    font-size: x-large;
}



/* picture 3 */


.pic3 {
    height: 12cm;
    width: 9cm;
    margin-left: 23.5cm;
    margin-top: -12.1cm;
}

.slider6 {
    border: 2px solid black;
    height: 7cm;
    width: 9cm;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-image: url(img/build6.webp);
    background-size: cover;
    /* Scale the image to cover the entire div */
    background-position: center;

}





.silder-text2 {
    border: 2px solid white;
    height: 5cm;
    width: 8cm;
    margin-top: 8cm;
    margin-left: 15px;

}


.silder-text2 h2 {
    color: red;
    letter-spacing: 8px;
    text-align: center;
    font-size: medium;
}


.silder-text2 h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.silder-text2 h1 span {
    font-weight: normal;

}

.silder-text2 h3 {
    color: white;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}


.silder-text2 h3 i {
    padding-right: .7em;
}

.silder-text2 h4 {
    color: white;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}

.silder-text2 h4 i {
    padding-right: .7em;
}


.silder-text2 button {
    border: 1px solid wheat;
    margin-top: 20px;
    height: 1.5cm;
    width: 5cm;
    border-radius: 50px;
    margin-left: 1.6cm;
    background-color: black;
    color: white;
    font-size: medium;

}

.silder-text2 button i {
    transform: rotate(50deg);
    font-size: x-large;
}



/* picture 4 */



.pic4 {
    height: 12cm;
    width: 9cm;
    margin-left: 7cm;
    margin-top: 2cm;
}

.slider7 {
    border: 2px solid black;
    height: 7cm;
    width: 9cm;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-image: url(img/build7.webp);
    background-size: cover;
    /* Scale the image to cover the entire div */
    background-position: center;

}





.silder-text3 {
    height: 5cm;
    width: 8cm;
    margin-top: 8cm;
    margin-left: 15px;

}


.silder-text3 h2 {
    color: red;
    letter-spacing: 8px;
    text-align: center;
    font-size: medium;
}


.silder-text3 h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.silder-text3 h1 span {
    font-weight: normal;

}

.silder-text3 h3 {
    color: white;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}


.silder-text3 h3 i {
    padding-right: .7em;
}

.silder-text3 h4 {
    color: white;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}

.silder-text3 h4 i {
    padding-right: .7em;
}


.silder-text3 button {
    border: 1px solid wheat;
    margin-top: 20px;
    height: 1.5cm;
    width: 5cm;
    border-radius: 50px;
    margin-left: 1.6cm;
    background-color: black;
    color: white;
    font-size: medium;

}

.silder-text3 button i {
    transform: rotate(50deg);
    font-size: x-large;
}

/* picture 5 */




.pic5 {
    height: 12cm;
    width: 9cm;
    margin-left: 19cm;
    margin-top: -12.1cm;
}

.slider8 {
    border: 2px solid black;
    height: 7cm;
    width: 9cm;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-image: url(img/build8.webp);
    background-size: cover;
    /* Scale the image to cover the entire div */
    background-position: center;

}





.silder-text4 {
    height: 5cm;
    width: 8cm;
    margin-top: 8cm;
    margin-left: 15px;

}


.silder-text4 h2 {
    color: red;
    letter-spacing: 8px;
    text-align: center;
    font-size: medium;
}


.silder-text4 h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.silder-text4 h1 span {
    font-weight: normal;

}

.silder-text4 h3 {
    color: white;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}


.silder-text4 h3 i {
    padding-right: .7em;
}

.silder-text4 h4 {
    color: white;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}

.silder-text4 h4 i {
    padding-right: .7em;
}


.silder-text4 button {
    border: 1px solid wheat;
    margin-top: 20px;
    height: 1.5cm;
    width: 5cm;
    border-radius: 50px;
    margin-left: 1.6cm;
    background-color: black;
    color: white;
    font-size: medium;

}

.silder-text4 button i {
    transform: rotate(50deg);
    font-size: x-large;
}



.next3 {

    background-color: #0f0f0f;
    height: 18cm;
    width: 100%;
    position: relative;
    top: 65cm;


}



.next3 .heading {
    height: 4cm;
    width: 12cm;
    margin: 1cm auto 0 auto;
    padding-top: 1cm;
    text-align: center;
}

.next3 .heading h1 {
    color: white;
    font-size: 1.5cm;
}

.next3 .heading h2 {
    color: white;
    font-size: 1.5cm;
}

.pic6 {
    height: 10cm;
    width: 17cm;
    margin-top: 1cm;
    background-image: url(img/build9.webp);
    background-size: cover;
    /* Scale the image to cover the entire div */
    background-position: center;
}

.next3 .slider-text5 {
    height: 8cm;
    width: 17cm;
    float: right;
    margin-top: -9cm;
    margin-right: 0cm;
}

.slider-text5 h2 {
    color: red;
    letter-spacing: 2px;
    font-weight: lighter;
}

.slider-text5 h1 {
    color: white;
    margin-top: 10px;
    font-weight: bolder;
}

.slider-text5 h1 span {
    color: white;

    font-weight: lighter;
}

.slider-text5 h3 {
    font-weight: normal;
    color: white;
    margin-top: 25px;

}



.slider-text5 h4 {
    font-weight: normal;
    color: white;
    margin-top: 15px;
}

.slider-text5 button {
    height: 1.5cm;
    width: 5cm;
    margin-top: 15px;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: #28a745;
    margin-top: 1cm;
}

.slider-text5 button i {
    font-size: x-large;
}

.next4 {
    background-color: #0f0f0f;
    height: 35cm;
    width: 100%;
    position: absolute;
    top: 123cm;
}

.heading1 {
    height: auto;
    width: 100%;
}

.heading1 h1 {
    color: white;
    font-size: 1.5cm;
    text-align: center;
}

.heading1 h2 {
    color: #28a745;
    font-size: 1.5cm;
    text-align: center;
    font-weight: lighter;
}

.heading1 h2 span {
    color: white;
    font-size: 0.8cm;
    text-align: center;
    font-weight: lighter;
}

/* location */

.location_box {
    height: 14cm;
    width: 28cm;
    margin: 1cm auto;

}

/* location 1 */

.location_box .location1 {
    height: 6cm;
    width: 9cm;
    border: 2px solid white;

    margin-left: 0.4cm;
    background-color: white;
    border-radius: 20px;
}

.location_box .location1 .loc1 i {
    color: white;
    font-size: 1.2cm;
    color: rgb(245, 100, 124);
    margin-top: 10px;

}

.location_box .location1 .loc1 {
    border: 2px solid white;
    height: 2cm;
    width: 2cm;
    text-align: center;
    margin: 0 auto;
    border-radius: 1cm;
    background-color: #eaeaea;
    margin-top: 2px;
}

.location1 h3 {
    color: red;
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: small;
    text-align: center;
    margin-top: 20px;
}

.location1 h1 {
    margin-top: 10px;
    color: black;
    font-size: x-large;
    text-align: center;
}

.location1 h1 span {
    color: black;
    font-weight: lighter;
    font-size: x-large;
    text-align: center;
    margin-left: 10px;
}

.location1 h2 {
    margin-top: 8px;
    color: black;
    font-size: x-large;
    text-align: center;
    font-weight: lighter;
}

/* location 2 */
.location_box .location2 {
    height: 6cm;
    width: 9cm;
    border: 2px solid white;
    margin-left: 9.7cm;
    margin-top: -6.1cm;
    /* margin-left: 10cm; */
    background-color: white;
    border-radius: 20px;

}



.location_box .location2 .loc1 i {
    color: white;
    font-size: 1.2cm;
    color: rgb(245, 100, 124);
    margin-top: 10px;

}

.location_box .location2 .loc1 {
    border: 2px solid white;
    height: 2cm;
    width: 2cm;
    text-align: center;
    margin: 0 auto;
    border-radius: 1cm;
    background-color: #eaeaea;
    margin-top: 1px;
}

.location2 h3 {
    color: red;
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: small;
    text-align: center;
    margin-top: 19px;
}

.location2 h1 {
    margin-top: 10px;
    color: black;
    font-size: x-large;
    text-align: center;
}

.location2 h1 span {
    color: black;
    font-weight: lighter;
    font-size: x-large;
    text-align: center;
    margin-left: 9px;
}

.location2 h2 {
    margin-top: 4px;
    color: black;
    font-size: x-large;
    text-align: center;
    font-weight: lighter;
}


/* location 3 */

.location_box .location3 {
    height: 6cm;
    width: 9cm;
    border: 2px solid white;
    margin-left: 19cm;
    margin-top: -6.1cm;
    /* margin-left: 10cm; */
    background-color: white;
    border-radius: 20px;

}



.location_box .location3 .loc1 i {
    color: white;
    font-size: 1.2cm;
    color: rgb(245, 100, 124);
    margin-top: 10px;

}

.location_box .location3 .loc1 {
    border: 2px solid white;
    height: 2cm;
    width: 2cm;
    text-align: center;
    margin: 0 auto;
    border-radius: 1cm;
    background-color: #eaeaea;
    margin-top: 1px;
}

.location3 h3 {
    color: red;
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: small;
    text-align: center;
    margin-top: 19px;
}

.location3 h1 {
    margin-top: 10px;
    color: black;
    font-size: x-large;
    text-align: center;
}

.location3 h1 span {
    color: black;
    font-weight: lighter;
    font-size: x-large;
    text-align: center;
    margin-left: 9px;
}

.location3 h2 {
    margin-top: 4px;
    color: black;
    font-size: x-large;
    text-align: center;
    font-weight: lighter;
}


/* locaiton 4 */



.location_box .location4 {
    height: 6cm;
    width: 9cm;
    border: 2px solid white;
    margin-left: 5cm;
    margin-top: 0.2cm;
    /* margin-left: 10cm; */
    background-color: white;
    border-radius: 20px;

}



.location_box .location4 .loc1 i {
    color: white;
    font-size: 1.2cm;
    color: rgb(245, 100, 124);
    margin-top: 10px;

}

.location_box .location4 .loc1 {
    border: 2px solid white;
    height: 2cm;
    width: 2cm;
    text-align: center;
    margin: 0 auto;
    border-radius: 1cm;
    background-color: #eaeaea;
    margin-top: 1px;
}

.location4 h3 {
    color: red;
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: small;
    text-align: center;
    margin-top: 19px;
}

.location4 h1 {
    margin-top: 10px;
    color: black;
    font-size: x-large;
    text-align: center;
}

.location4 h1 span {
    color: black;
    font-weight: lighter;
    font-size: x-large;
    text-align: center;
    margin-left: 9px;
}

.location4 h2 {
    margin-top: 4px;
    color: black;
    font-size: x-large;
    text-align: center;
    font-weight: lighter;
}


/* location 5 */


.location_box .location5 {
    height: 6cm;
    width: 9cm;
    border: 2px solid white;
    margin-left: 14.3cm;
    margin-top: -6.1cm;
    /* margin-left: 10cm; */
    background-color: white;
    border-radius: 20px;

}



.location_box .location5 .loc1 i {
    color: white;
    font-size: 1.2cm;
    color: rgb(245, 100, 124);
    margin-top: 10px;

}

.location_box .location5 .loc1 {
    border: 2px solid white;
    height: 2cm;
    width: 2cm;
    text-align: center;
    margin: 0 auto;
    border-radius: 1cm;
    background-color: #eaeaea;
    margin-top: 1px;
}

.location5 h3 {
    color: red;
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: small;
    text-align: center;
    margin-top: 19px;
}

.location5 h1 {
    margin-top: 10px;
    color: black;
    font-size: x-large;
    text-align: center;
}

.location5 h1 span {
    color: black;
    font-weight: lighter;
    font-size: x-large;
    text-align: center;
    margin-left: 9px;
}

.location5 h2 {
    margin-top: 4px;
    color: black;
    font-size: x-large;
    text-align: center;
    font-weight: lighter;
}

.social-feed {
    height: 1cm;
    width: 7cm;
    margin: 0 auto;
}

.social-feed h1 {
    color: white;
    text-align: center;
    font-size: 1cm;
}

.food-cat {
    height: 5cm;
    width: 34cm;
    
    margin: 1.5cm auto;
    display: inline-flex;

}

.fod1 {
    height: 7cm;
    width: 6.3cm;
    border: 2px solid black;
    margin: auto auto;
    background-image: url(img/food1.webp);
    background-size: cover;
    background-position: center;
}

.fod2 {
    height: 7cm;
    width: 6.3cm;
    border: 2px solid black;
    margin: auto auto;
    background-image: url(img/food2.webp);
    background-size: cover;
    background-position: center;
}
.fod3 {
    height: 7cm;
    width: 6.3cm;
    border: 2px solid black;
    margin: auto auto;
    background-image: url(img/food3.webp);
    background-size: cover;
    background-position: center;
}
.fod4 {
    height: 7cm;
    width: 6.3cm;
    border: 2px solid black;
    margin: auto auto;
    background-image: url(img/food4.webp);
    background-size: cover;
    background-position: center;
}

.fod5 {
    height: 7cm;
    width: 6.3cm;
    border: 2px solid black;
    margin: auto auto;
    background-image: url(img/food5.webp);
    background-size: cover;
    background-position: center;
}

/* Next 5 */
.next5{
    height: 14cm;
    width: 100%;
    position: absolute;
    top: 154cm;
    background-color: #1d1d1d;
}

.s-logo{
    margin-top: 1.8cm;
    height: 8cm;
    width: 8cm;
   
    background-image: url(img/s-log.webp);
    background-size: cover;
    background-position: center;
}

.salt1{
    height: 1.5cm;
    width: 3.8cm;
    
    margin-top: -8cm;
    margin-left: 1cm;
    background-image: url(img/header.webp);
    background-size: cover;
    background-position: center;
}

.text-footer{
    height: 5cm;
    width: 10cm;
    margin-top: 1cm;
    margin-left: 1cm;
}

.text-footer p{
    color: rgb(184, 181, 181);
    font-size: 0.5cm;
    font-weight: lighter;
    text-align: left;
}

.site{
    height: 10cm;
    width: 4cm;
    margin-left: 12cm;
    margin-top: -7.6cm;
}


.cont{
    height: 10cm;
    width: 6cm;
    margin-left: 18cm;
    margin-top: -10.1cm;
}

.follow{
    height: 10cm;
    width: 6cm;
    margin-left: 26cm;
    margin-top: -10.1cm;
}

.site{
    color: rgb(184, 181, 181);
    font-weight: lighter;
}

.cont h1{
    color: rgb(184, 181, 181);
    font-weight: lighter;
    font-size: 0.6cm;

}
.cont h3{
    color: rgb(184, 181, 181);
    font-weight: lighter;
}

.follow h1{
    color: rgb(184, 181, 181);
    font-weight: normal;
    font-size: 0.6cm;
}

.socl{
    height: 1.2cm;
    width: 1.2cm;
    border: 2px solid red;
    border-radius: 1cm;
    background-color: white;
    margin-top: 1cm;
    background-color: red;
}

.socl i{
   font-size: 0.8cm;
   color: white;
   margin:11px;

   
   
}

/* insta */
.soc2{
    height: 1.2cm;
    width: 1.2cm;
    border: 1px solid red;
    border-radius: 1cm;
    font-size: 1cm;
    margin-left: 1.5cm;
    margin-top: -1.3cm;
    background-color: red;
}

.soc2 i{
   margin:5px;
   color: white;
   
}

/* twitter */
.soc3 {
    height: 1.2cm;
    width: 1.2cm;
    border: 1px solid red;
    border-radius: 1cm;
    background-color: red;
    margin-left: 3cm;
    margin-top: -1.2cm;    
} 

.soc3 i{
    color: white;
    font-size: 0.8cm;
    margin: 8px;
}

.app{
    height: 1.5cm;
    width: 5cm;
    border: 1px solid;
    margin-left: 26cm;
    margin-top: -6cm;
    background-image: url(img/google_paly_store.webp);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.apple-store{
    height: 1.5cm;
    width: 5cm;
    border: 1px solid ;
    margin-left: 26cm;
    margin-top: 0.5cm;
    background-image: url(img/apple_play_store.webp);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.line{
    color: rgb(184, 181, 181);
    margin-top: 2cm;
}

.water{
    color: rgb(184, 181, 181);
    margin-left: 2cm;
    margin-top: 1cm;
}